@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 70px;
  width: 60%;
  background: #c47a01;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.onion {
  width: 40%;
  background-color: #aa43c9;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.tomato {
  height: 25px;
  width: 50%;
  background-color: #dd3710;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.lettuce {
  height: 5px;
  width: 70%;
  background: #65bf24;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pineapple {
  height: 25px;
  width: 52%;
  background-color: #ffe057;
  border-bottom: solid 2px rbga(0,0,0,0.1)
}

.bacon {
  height: 1px;
  width: 68%;
  background: #893221;
  border-bottom: solid 10px #be3615;
  border-radius: 100px 100px 20px 20px;
}

.cheese {
  height: 10px;
  width: 65%;
  background: #ffe798;
  border-bottom: solid 2px rgba(237, 220, 9, 0.1);
}

.patty {
  height: 45px;
  width: 65%;
  background: #973511;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.chicken {
  height: 2px;
  width: 55%;
  background: #eab060;
  border-radius: 10px;
  border-top: dotted 16px rgba(255,255,255,.2);
  border-bottom: dotted 16px rgba(255,255,255,.2);
}

.bun-bottom {
  height: 35px;
  width: 60%;
  background: #c47a01;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #cccccc;
  border-radius: 20px 20px 200px 200px;
}
